.card {
  appearance: none;
  border: 1px solid #888;
  border-radius: 1rem;
  background: #f9f9f9;
  padding: 2em;
  cursor: pointer;
}
.card:hover {
  background: rgb(246, 204, 75);
  font-weight: 600;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 1.5em;
}

.card__name {
  margin: 0;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
